<!DOCTYPE html>
<html>
<head>
    <title>Clínica Dental</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="http://localhost:3000/">Home</a>
        <a href="http://localhost:3000/authentication/register">Registrarse</a>
        <a href="http://localhost:3000/authentication/login">Iniciar sesión</a>
    </div>

    <div class="container">
        <h1>Bienvenido a UNSA-LUD</h1>
        Con UNSA-LUD, un sistema que se encarga del manejo de citas y un registro de información médica hacia los estudiantes.
        Las perspectivas que esperamos de nuestro producto es que sea capaz y funcional de ayudar a los estudiantes de la UNSA para su registro y consulta previa de forma mas eficiente y sencilla.
    </div>

    
</body>
</html>
