.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
}

.button {
    background-color: #55acee;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 24px;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1da1f2;
}

.icon {
    margin-right: 10px;
}